# Ignore data
data

# Saved models directory (contains weights)
saved_models

# Virtual environment
nyt_venv

# __pycache__
__pycache__/*
dataset/__pycache__/*
model_zoo/__pycache__/*
utils/__pycache__/*